services:
  frontend:
    build: ./frontend
    container_name: interview_frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
  backend:
    build: ./backend
    container_name: interview_backend
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
      - qdrant
  mongo:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27018:27017"
    volumes:
      - mongoData:/data/db
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrantData:/qdrant/storage

volumes:
  mongoData:
  qdrantData:
